<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/moment/min/moment.min.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="javascripts/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <title>Express with EJS</title>
        <!--script src="js/card.js"></script-->
    </head>
    <body>
        <div class="container">
          <%- include header.html %>
            <%- body %>
          <%- include footer.html %>
        </div>
    </body>
</html>
